@font-face {
  font-display: swap;
  font-family: "figma-icons";
  font-style: normal;
  font-weight: 400;
  src: url("./figma-icons.woff2") format("woff2"), url("./figma-icons.woff") format("woff");
}

.icon {
  display: inline-block;
  font-family: "figma-icons";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-ads::before {
  content: "\ea01";
}

.icon-companies::before {
  content: "\ea02";
}

.icon-email::before {
  content: "\ea03";
}

.icon-email-active::before {
  content: "\ea04";
}

.icon-import::before {
  content: "\ea05";
}

.icon-managers::before {
  content: "\ea06";
}

.icon-managers-active::before {
  content: "\ea07";
}

.icon-resume::before {
  content: "\ea08";
}

.icon-resume-active::before {
  content: "\ea09";
}

.icon-settings::before {
  content: "\ea0a";
}

.icon-settings-active::before {
  content: "\ea0b";
}
